{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Comments{% endblock title %}

{% block content%}
    {% include 'snippets/messages.html' %}
    {% include 'snippets/nav.html' %}

    <section>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <div>
                        <h3>{{ comment.user.username }}</h3>
                        <p>{{ comment.content }}</p>
                        <p>
                            <small>{{ comment.timestamp }} |
                                {% if comment.children.count > 0 %}
                                {{ comment.children.count }} Comments
                                {% endif %}
                                {% if request.user == comment.user %}
                                    <a href="delete" class="btn btn-danger">Delete</a>
                                {% endif %}
                            </small>
                        </p>
                        <hr>
                        <div>
                            {% for child_comment in comment.children %}
                            <blockquote>
                                <h3>{{ child_comment.user.username }}</h3>
                                <p>{{ child_comment.content }}</p>
                                <p>
                                    <small>{{ child_comment.timestamp }}</small>
                                    {% if request.user == child_comment.user %}
                                        <a href="delete" class="btn btn-danger">Delete</a>
                                    {% endif %}
                                </p>
                            </blockquote>
                            {% endfor %}
                            <form action="." method="POST">{% csrf_token %}
                                {{ form|crispy }}
                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                <input type="submit" value="Reply" class="btn btn-success">
                            </form>
                        </div>
                    <hr>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}