{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{instance.title}}{% endblock title %}

{% block content%}
    {% include 'snippets/messages.html' %}
    {% include 'snippets/nav.html' %}
    <section>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                {% if instance.image %}
                    <img src="{{ instance.image.url }}" alt="" class="img-resp"/>
                {% endif %}
                <h1>{{ instance.title }}&nbsp;
                    <small>
                        <a href="edit">Update</a>
                    </small>
                </h1>
                {% if instance.user.get_full_name %}
                    <h3>Author: {{ instance.user.get_full_name }}</h3>
                {% else %}
                    <h3>Author: {{ instance.user }}</h3>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12 post-detail-item">{{ instance.get_markdown }}</div>
                </div>
                <p>
                    <small>Updated: {{ instance.updated }}</small>
                </p>
                <p>
                    {% if instance.draft %}
                        <span class="text-danger">Draft</span>
                    {% endif %}
                    <small>
                        Created: {{ instance.publish }}
                    </small>
                </p>
                <div class="fb-like" data-href="{{ request.build_absolute_url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <p>
                    <a class="btn btn-primary" href="#">Share on FaceBook</a>
                    <a class="btn btn-info" href="#">Share on Twitter</a>
                    <a class="btn btn-danger" href="#">Share on Pinterest</a>
                    <a class="btn btn-warning" href="#">Share on Reddit</a>
                </p>
                <h3 ><a class="text-danger" href="delete">Delete</a></h3>

                <div id="comment">
                    <h2>Comments</h2>
                    <form action="." method="POST">{% csrf_token %}
                        {{ comment_form|crispy }}
                        <input type="submit" value="Post comment" class="btn btn-success">
                    </form>
                    <hr>
                    {% for comment in comments %}
                        <div>
                            <blockquote>
                                <h3>{{ comment.user.username }}</h3>
                                <p>{{ comment.content }}</p>
                                <p>
                                    <small>{{ comment.timestamp }} |
                                        {% if comment.children.count > 0 %}
                                            {{ comment.children.count }} Comments |
                                        {% endif %}
                                        <a class="comment-reply-btn" href="#">Reply</a>
                                        <a href="{{ comment.get_absolute_url }}">Thread</a>
                                    </small>
                                </p>
                                <div class="comment-reply">
                                    {% for child_comment in comment.children %}
                                        <blockquote>
                                            <h3>{{ child_comment.user.username }}</h3>
                                            <p>{{ child_comment.content }}</p>
                                            <p>
                                                <small>{{ child_comment.timestamp }}</small>
                                            </p>
                                        </blockquote>
                                    {% endfor %}
                                    <form action="." method="POST">{% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                        <input type="submit" value="Reply" class="btn btn-success">
                                    </form>
                                </div>
                            </blockquote>
                            <hr>
                        </div>

                    {% endfor %}
                </div>
                <!-- <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="5"></div> -->
            </div>
        </div>
    </section>

{% endblock content %}